# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Django / Flask / FastAPI
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*
*.env

# ==============================
# IDE / Editors
# ==============================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db
Desktop.ini

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Node (если вдруг используешь фронт)
# ==============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# Misc
# ==============================
*.bak
*.tmp
*.temp